*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: none;
}
body {
    overflow: hidden;
}
:root{
    --bg-color:  radial-gradient(#EEF7FF, #70C0F2);
}

.background{
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    transition: 1s;
}

.background .bg-image{
    position: absolute;
    height: 100%;
    top:100%;
}

.fortune-wheel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    transform: scale(1.2);
}
.wheel-border{
    position: absolute;
    width: 600px;
    height: 600px;
    background-color:#FF8317;
    border-radius: 100%;
    z-index: -10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    opacity: 0;
    animation: 0.4s jumpIn ease-in-out 0.2s;
}
.wheel-container {
    position: absolute;
    width: 560px;
    height: 560px;
    z-index: 10px;
}
.wheel {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    transform: rotate(0deg);
    transition: transform 2s cubic-bezier(.2,.86,0,.99);
    background: conic-gradient(
        #2C9811 0% 12.5%, 
        #D33030 12.5% 25%, 
        #2C9811 25% 37.5%, 
        #D33030 37.5% 50%, 
        #2C9811 50% 62.5%, 
        #D33030 62.5% 75%, 
        #2C9811 75% 87.5%, 
        #D33030 87.5% 100%
    );
    opacity: 0;
    animation: jumpIn 0.2s ease-in-out 0.8s;
}
.wheel-container img{
    position: absolute;
    top:55%;
    left: -5%;
    transform: rotate(-10deg);
    height: 300px;
    opacity: 0;
    animation: choinka 0.6s ease-in-out 0.6s;
}
.wheel-text {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: center;
    font-family: "Sarala", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
}
.mid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px rgba(128, 128, 128, 0.25);
    width: 40px;
    height: 40px;
    background: #fd8f2f;
    border-radius: 100%;
    z-index: 10;
    animation: fadeIn 0.2s ease-in-out;
}
.pointer {
    position: absolute;
    top: -30px;
    left: 260px;
    clip-path: polygon(50% 0, 0% 100%, 100% 100%);
    transform: rotate(180deg);
    width: 40px;
    height: 50px;
    background-color: rgb(255, 231, 15);
    z-index: 20px;
    border-radius: 100%;
    opacity: 0;
    animation: pointer 0.4s ease-in-out 0.8s;
}
.sign-container{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.main-container{
    position: absolute;
    width: 60%;
    height: 60%;
    top: 20%;
    z-index: 30;
    color: rgb(255, 255, 255);
    font-family: "DynaPuff", system-ui;
    font-size: 400;
    font-style: normal;
    text-align: center;
    background-color: #975329;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    animation: sign 0.8s ease-in-out;
}
.bg-sign{
    z-index: 40;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 25%;
    background-image: url(../assets/woodTexture.jpg);
}
.main-container h2{
    top:40px;
    left: 2.5%;
    width: 95%;
    text-align: center;
    position: absolute;
    letter-spacing: 2px;
    font-size: 2.8rem;
}
.main-container h1{
    width: 100%;
    text-align: center;
    position: absolute;
    font-size: 2.4rem;
    bottom: 40px;
}
.stick{
    position: fixed;
    bottom: -25%;
    height: 50%;
    width: 5%;
    background-color: #854822;
    z-index: 20;
    animation: stick 0.5s ease-in;
}

.fortune-wheel h1{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 50;
    text-align: center;
    left: 0;
    top:28%;
    font-size: 11rem;
    letter-spacing: 12px;
    color: rgb(255, 230, 0);
    font-family: "Spicy Rice", serif;
    font-weight: 400;
    font-style: normal;
    animation: label 0.2s ease-in-out 3.2s;
}

.fortune-wheel h2 {
    position: fixed;
    z-index: 50;
    height: 100%;
    width: 100%;
    left: 0;
    top: 52%;
    text-align: center;
    font-size: 4rem;
    color: rgb(255, 247, 236);
    font-family: "Sarala", sans-serif;
    font-weight: 700;
    font-style: normal;
    animation: points 0.2s ease-in-out 3.2s;
}

.blackout{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(49, 49, 49, 0.4);
    animation: fadeIn 0.3s ease-in-out 3.2s;
}

.delay{
    opacity: 0;
}

.table{
    position: fixed;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    animation: drop 0.6s ease-in-out;
}
.table-bg{
    width: 45%;
    height: 85%;
    margin: auto;
    z-index: 50;
    top: -5%;
    background-image: url(../assets/Scroll.svg);
    background-repeat: no-repeat;
    background-position: center -105vh;
}

.table-bg ul {
    padding: 60px;
    font-family: "Sarala", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
    list-style: none;
}
.table-bg li{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

@keyframes jumpIn{
    from {
        transform: scale(0);
        filter: blur(2px);        
    }
    92% {
        transform: scale(1.05);
        filter: blur(0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes fadeIn {
    from{
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

@keyframes choinka {
    from{
        height: 0;
        filter: blur(2px);
        transform: rotate(-30deg);
    }
    30%{
        height: 300px;
    }
    70%{
        transform: rotate(0deg);
    }
    80%{
        transform: rotate(-15deg);
    }
    to{
        filter: blur(0);
        transform: rotate(-10deg);
    }
}

@keyframes pointer {
    from{
        transform: scale(0);
        transform: rotate(90deg);
    }
    90%{
        transform: scale(1.05);
        transform: rotate(185deg);
    }
    to {
        transform: scale(1);
        transform: rotate(180deg);
    }
}

@keyframes label {
    from{
        font-size: 0;
        top: 38%;
    }
    to{
        font-size: 11rem;
        top: 28%;
    }
}

@keyframes points {
    from{
        font-size: 0;
        top: 48%;
    }
    to {
        font-size: 4rem;
        top: 52%;
    }
}

@keyframes stick {
    from{
        transform: rotate(80deg);
        opacity: 0;
    }
    30%{
        opacity: 100%;
    }
    45%{
        transform: rotate(-15deg);
    }
    70%{
        transform: rotate(5deg);
    }
    85%{
        transform: rotate(0);
    }
    to {
        transform: rotate(0);
    }
}

@keyframes sign {
    from{
        top: -80%;
        opacity: 0;
    }
    40%{
        top: -80%;
        opacity: 0;
    }
    90%{
        top:22%;
    }
    to{
        top:20%;
        opacity: 100%;
    }
}

@keyframes drop{
    from{
        top:-100%;
    }
    to{
        top:0;
    }
}