<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/admin.css')}}"/>
</head>
<body>
    <div class="left">
        <div>
            <ul>
            {%for i in range(len)%}
                <li ><input id='name{{i}}' value='{{players[i]["name"]}}' type="text" onchange='Name({{i}})'> <span><input id='points{{i}}' onchange="Points({{i}})" type="text" value='{{players[i]["points"]}}'> pkt  <input type="submit" value="Del" class="del" onclick="newPlayer(false, {{i}})"></span></li>
            {%endfor%}
                <li><input type="submit" value="+ Add" onclick="newPlayer(true,0)"></li>
            </ul>
        </div>
        <div>
            <h1>Pytanie:</h1>
            <span>Kategoria: {{question["category"]}} | Punkty: {{question["points"]}}pkt</span>
            <p>{{question["text"]}}</p>
        </div>
    </div>
    <div class="right">
        <div class="top">
            <input type="submit" value="Losuj" onclick="Wheel()">
            <input type="submit" value="Pytanie" onclick="Question()">
            <input type="submit" value="Tabela" onclick="Table()">
        </div>
        <div class="bottom">
            <input type="submit" value="Dobrze" onclick="Good()">
            <input type="submit" value="Źle" onclick="Wrong()">
        </div>
    </div>
</body>
<script>

    async function Table(){
        await fetch("/table");
    }

    async function Wheel() {
        await fetch("/wheel")
        location.reload()
    }

    async function Question() {
        await fetch('/sign?player=None&effect=None')
    }

    async function Good() {
        await fetch('/sign?player=None&effect=1')
    }

    async function Wrong() {
        await fetch('/sign?player=None&effect=0')
    }

    async function Name(i){
        await fetch('/name?player='+i+"&change="+document.getElementById("name"+i).value)
    }

    async function Points(i) {
        await fetch('/points?player='+i+'&change='+document.getElementById("points"+i).value)
    }

    async function newPlayer(add,i) {
        if (add) {
            await fetch('/new?status=1')
        }
        else{
            await fetch('/new?status=0&player='+i)
        }
        location.reload()
    }
</script>
</html>