<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Info:</h1>
    <h2 id="func">Funkcja:</h2>
    <h2>Dane:</h2>
    <p id="data"></p>
</body>
<script>
    const socket = io();

    socket.on("start",(data)=>{
        document.getElementById("func").innerHTML = "Funkcja: StartGame";
        document.getElementById("data").innerHTML = data;
    })

    socket.on("answering",(data)=>{
        document.getElementById("func").innerHTML = "Funkcja: whoAnswering";
        document.getElementById("data").innerHTML = data;
    })

    socket.on("result",(data)=>{
        document.getElementById("func").innerHTML = "Funkcja: answerResult";
        document.getElementById("data").innerHTML = data;
    })

    socket.on("table",(data)=>{
        document.getElementById("func").innerHTML = "Funkcja: pointsTable";
        document.getElementById("data").innerHTML = data;
    })
</script>
</html>